<section class="mt-5 bg-blue-300 pt-6">
    <div class="relative">
        <div
            class="md:grid md:grid-cols-2 justify-center items-center  mx-auto w-3/4"
        >
            <div class="z-30 flex justify-center items-center">
                <img
                    src="./image/cartel.png"
                    class="w-96 mb-5"
                    alt="Cartel Delfin"
                />
            </div>

            <div class="flex-col md:flex justify-center items-center" data-aos="fade-right">
                <p class="text-center font-bold text-xs text-[15px]  md:text-4xl font-outfit text-blue-600">
                    El <span class="text-white">Programa Delfín</span> te invita a participar en el
                </p>
                <div class="flex justify-center items-center">
                    <a href="https://programadelfin.org.mx/" target="_blank" class="btn z-50 mb-24 md:mb-10 justify-center items-center mt-6">Más Información</a>
                </div>
            </div>
        </div>
        <svg
            class="absolute bottom-0"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1440 320"
        >
            <path
                fill="#0099ff"
                fill-opacity="1"
                d="M0,0L14.1,32C28.2,64,56,128,85,170.7C112.9,213,141,235,169,256C197.6,277,226,299,254,261.3C282.4,224,311,128,339,122.7C367.1,117,395,203,424,208C451.8,213,480,139,508,122.7C536.5,107,565,149,593,154.7C621.2,160,649,128,678,122.7C705.9,117,734,139,762,133.3C790.6,128,819,96,847,101.3C875.3,107,904,149,932,192C960,235,988,277,1016,250.7C1044.7,224,1073,128,1101,101.3C1129.4,75,1158,117,1186,128C1214.1,139,1242,117,1271,117.3C1298.8,117,1327,139,1355,133.3C1383.5,128,1412,96,1426,80L1440,64L1440,320L1425.9,320C1411.8,320,1384,320,1355,320C1327.1,320,1299,320,1271,320C1242.4,320,1214,320,1186,320C1157.6,320,1129,320,1101,320C1072.9,320,1045,320,1016,320C988.2,320,960,320,932,320C903.5,320,875,320,847,320C818.8,320,791,320,762,320C734.1,320,706,320,678,320C649.4,320,621,320,593,320C564.7,320,536,320,508,320C480,320,452,320,424,320C395.3,320,367,320,339,320C310.6,320,282,320,254,320C225.9,320,198,320,169,320C141.2,320,113,320,85,320C56.5,320,28,320,14,320L0,320Z"
            ></path>
        </svg>
    </div>
</section>
